*, *:before, *:after {
  box-sizing: inherit;
}

* {
  background-color: rgb(128, 128, 128);
}

cite {
  font-style: normal;
}

h1 {
  font-size: 1.25rem !important;
  margin-bottom: 0 !important;
}

img {
  width: 100%;
  max-width: 640px;
  height: auto;
  margin: .3rem 0 0 .35rem;
}

main {
  height: 100vh;
  font-family: Times new roman;
  overflow: hidden;
}

q {
  font-size: .5rem
}

sup {
  z-index: 0;
}

ul {
  list-style: outside none none !important;
}

#tab-of-contents,
#main-text,
#citations{
  text-align: center;
}

#main-text::-webkit-scrollbar,
#citations div::-webkit-scrollbar {
  width: .7rem;
}

#main-text {
  overflow-y: scroll
}

#main-text p,
#main-text blockquote {
  text-align: justify;
  font-size: 1rem !important;
}

#citations {
  height: 100%;
  margin: 0 .7rem 0 .35rem
}

#citations div {
  height: 18%;
  overflow-y: scroll;
}

#citations ol {
  text-align: left;
  list-style-position: inside;
  padding-inline-start: 1rem;
}

#main-bibliography ul {
  padding-left: 0;
  text-align: left;
  padding: 1rem
}

#main-bibliography ul li {
  padding-left: 1.5em;
  text-indent:-1.5em;
}



#main-text {
  overflow-x: hidden;
  height: 80%;
}

#main-text blockquote {
  padding: 0 1rem;
}

#main-text h2 {
  font-size: 1rem;
  text-align: right;
  padding-right: 1rem;
  line-height: 1rem;
  font-size: .7rem;
  vertical-align: center;
  margin-bottom: 0;
}

#main-text p {
  font-size: 1.25rem;
  padding: .7rem .5rem 0 .5rem;
}

#tab-of-contents {
  text-align: left;
  display: none;
}

#tab-of-contents button {
  float: right;
  margin: .7rem .35rem 0 0
}

#tab-of-contents h1 {
  text-align: center;
}

#toc-list {
  margin: .7rem .35rem 0 0;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

#toc-list li {
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
}

#toc-list h3 {
  font-size: 1.2rem;
  margin-bottom: 0rem;
}

.container-fluid,
.row {
  height: 100%;
}

.page-turners button,
.left-page-turn button,
.right-page-turn button {
  border: none;
  background-color: transparent;
}

.page-turners button svg,
.right-page-turn button svg,
.left-page-turn button svg  {
  background-color: transparent;
}

.toc-title,
.chapter div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-turners,
.left-page-turn,
.right-page-turn {
  position: sticky;
  background-color: transparent;
}

.right-page-turn,
.left-page-turn {
  width: 100%;
  bottom: 2.5rem
}

.bibliography ul {
  padding-inline-start: 1rem
}

.bibliography ul li {
  text-align: left;
  padding-left: 1.5em;
  text-indent:-1.5em;
}

.chapter {
  padding-bottom: 1rem;
}

.chapter div:first-child {
  position: sticky;
  margin: 0 0 .3rem .35rem;
}

.chapter div {
  margin: 0 0 0 .35rem;
}

.chapter div:nth-child(4) {
  padding: 1rem 0 0 0;
}

.container-fluid {
  max-width: 1400px;
  position: relative;
  top: .5rem;
}

.hidden {
  display: none !important;
}

.left-page-turn button {
  float: left
}

.page-turners {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 2rem;
}

.right-page-turn button {
  float: right
}

.tab {
  padding-left: 3rem;
}

.toc-title {
  text-align: center;
  margin: 0 .35rem .7rem .0rem;
  padding: .5rem;
  color: rgb(128, 128, 128);
}

/*dynamic color classes*/
.black-text {
  color: black !important;
}
.gray-text {
  color: rgb(128, 128, 128);
}
.purple-text {
  color: rgb(75, 0, 150);
}
.purple-border {
  border: solid rgb(75, 0, 150) .2rem;
}
.purple-scroll::-webkit-scrollbar-thumb {
  background: rgb(75, 0, 150);
}
.purple-background {
  background-color: rgb(75, 0, 150);
}
.purple-fill {
  fill: rgb(75, 0, 150);
}
.green-text {
  color: rgb(0, 80, 0);
}
.green-border {
  border: solid rgb(0, 80, 0) .2rem;
}
.green-background {
  background-color: rgb(0, 80, 0);
}
.green-scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 80, 0);
}
.green-fill {
  fill: rgb(0, 80, 0);
}
.blue-text {
  color: rgb(0, 0, 145);
}
.blue-border {
  border: solid rgb(0, 0, 145) .2rem;
}
.blue-scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 145);
}
.blue-background {
  background-color: rgb(0, 0, 145);
}
.blue-fill {
  fill: rgb(0, 0, 145);
}
.red-text {
  color: rgb(120, 0, 0);
}
.red-border {
  border: solid rgb(120, 0, 0) .2rem;
}
.red-scroll::-webkit-scrollbar-thumb {
  background: rgb(120, 0, 0);
}
.red-background {
  background-color: rgb(120, 0, 0);
}
.red-fill {
  fill: rgb(120, 0, 0);
}
.yellow-text {
  color: rgb(255, 205, 110);
}
.yellow-border {
  border: solid rgb(255, 205, 110) .2rem;
}
.yellow-scroll::-webkit-scrollbar-thumb {
  background: rgb(255, 205, 110);
}
.yellow-background {
  background-color: rgb(255, 205, 110);
}
.yellow-fill {
    fill: rgb(255, 205, 110);
}
.maroon-text {
  color: rgb(110, 0, 115);
}
.maroon-border {
  border: solid rgb(110, 0, 115) .2rem;
}
.maroon-scroll::-webkit-scrollbar-thumb {
  background: rgb(110, 0, 115);
}
.maroon-background {
  background-color: rgb(110, 0, 115);
}
.maroon-fill {
  fill: rgb(110, 0, 115);
}
.brown-text {
  color: rgb(70, 20, 0);
}
.brown-border {
  border: solid rgb(70, 20, 0) .2rem;
}
.brown-scroll::-webkit-scrollbar-thumb {
  background: rgb(70, 20, 0);
}
.brown-background {
  background-color: rgb(70, 20, 0);
}
.brown-fill {
  fill: rgb(70, 20, 0);
}
.orange-text {
  color: rgb(130, 55, 0);
}
.orange-border {
  border: solid rgb(130, 55, 0) .2rem;
}
.orange-scroll::-webkit-scrollbar-thumb {
  background: rgb(130, 55, 0);
}
.orange-background {
  background-color: rgb(130, 55, 0);
}
.orange-fill {
  fill: rgb(130, 55, 0);
}
.light-green-text {
  color: rgb(180, 250, 145);
}
.light-green-border {
  border: solid rgb(180, 250, 145) .2rem;
}
.light-green-scroll::-webkit-scrollbar-thumb {
  background: rgb(180, 250, 145);
}
.light-green-background {
  background-color: rgb(180, 250, 145);
}
.light-green-fill {
  fill: rgb(180, 250, 145);
}
.light-pink-text {
  color: rgb(250, 125, 210);
}
.light-pink-border {
  border: solid rgb(250, 125, 210) .2rem;
}
.light-pink-scroll::-webkit-scrollbar-thumb {
  background: rgb(250, 125, 210);
}
.light-pink-background {
  background-color: rgb(250, 125, 210);
}
.light-pink-fill {
  fill: rgb(250, 125, 210);
}
.light-blue-text {
  color: rgb(145, 210, 255);
}
.light-blue-border {
  border: solid rgb(145, 210, 255) .2rem;
}
.light-blue-scroll::-webkit-scrollbar-thumb {
  background: rgb(145, 210, 255);
}
.light-blue-background {
  background-color: rgb(145, 210, 255);
}
.light-blue-fill {
  fill: rgb(145, 210, 255);
}
.lavender-text {
  color: rgb(200, 150, 255);
}
.lavender-border {
  border: solid rgb(200, 150, 255) .2rem;
}
.lavender-scroll::-webkit-scrollbar-thumb {
  background: rgb(200, 150, 255);
}
.lavender-background {
  background-color: rgb(200, 150, 255);
}
.lavender-fill {
  fill: rgb(200, 150, 255);
}
.beige-text {
  color: rgb(225, 220, 195);
}
.beige-border {
  border: solid rgb(225, 220, 195) .2rem;
}
.beige-scroll::-webkit-scrollbar-thumb {
  background: rgb(225, 220, 195);
}
.beige-background {
  background-color: rgb(225, 220, 195);
}
.beige-fill {
  fill: rgb(225, 220, 195);
}
.forest-green-text {
  color: rgb(0, 30, 0);
}
.forest-green-border {
  border: solid rgb(0, 30, 0) .2rem;
}
.forest-green-scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 30, 0);
}
.forest-green-background {
  background-color: rgb(0, 30, 0);
}
.forest-green-fill {
  fill: rgb(0, 30, 0);
}
.light-orange-text {
  color: rgb(255, 150, 90);
}
.light-orange-border {
  border: solid rgb(255, 150, 90) .2rem;
}
.light-orange-scroll::-webkit-scrollbar-thumb {
  background: rgb(255, 150, 90);
}
.light-orange-background {
  background-color: rgb(255, 150, 90);
}
.light-orange-fill {
  fill: rgb(255, 150, 90);
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .toc-title,
  .chapter div:first-child {
    height: 12vh;
  }

  .tab {
    padding-left: 2rem;
  }

  #tab-of-contents,
  #main-text {
    height: 78%
  }

  #citations {
    margin: 0 .7rem 0 0;
  }
  #citations div {
    height: 20%;
  }

  #tab-of-contents {
    display: block;
  }

  #toc-list {
    padding-left: 1rem
  }

  #main-text h1,
  #tab-of-contents button h1 {
    font-size: 2rem !important;
  }

  .toc-title {
    font-size: 1.5rem !important;
  }
}

/*Large devices (laptops, 960px and up)*/
@media (min-width: 960px) {
  #tab-of-contents,
  #main-text {
    height: 100%
  }

  h1 {
    font-size: 1.75rem !important;
  }

  #citations div {
    height: 98%;
  }

  #citations {
    margin: 0;
  }

  .right-page-turn,
  .left-page-turn {
    bottom: 4rem
  }
}
